@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E4E2E2;
}
/* html{
    overflow-y: overlay;
} */

/*Login Page*/
.login-wrapper{
    background: #fff !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.login{
    background: #021A3D;
    padding: 50px 30px;
    border-radius: 10px;
    width: 20%;
    height: 40%;
    position: relative;
}

.login input{
    padding: 8px;
    border-radius: 2px;
    border: none;
    margin:8px 0;
    width: 94%;
    text-align: center;
}

.login button{
    padding:6px;
    margin: 15px 0 0 0;
    border-radius: 2px;
    border: none;
    width: 90%;
    position: absolute;
    bottom: 30px;
    left: 5%;
    outline: none;
}

.login button:hover{
    cursor: pointer;
}

.login button:active{
    padding: 5px;
}

.Link{
    outline: none;
    text-decoration: none;
}

#navbar *{
    display: inline;
}

#navbar {
    height: 50px;
    background-color: rgb(6, 43, 95);
    display: grid;
    grid-template-columns: 2fr 8fr;
    position: fixed;
    width: 100%;
}

#navbar input{
    padding:6px;
    width: 280px;
    border-radius: 5px;
    border: 1px solid;
    height: 24px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #eeeeee;
}

#menu{
    float:left;
    background-color: #021A3D;
    min-width: 20%;
    position: absolute;
    bottom: 0;
    top: 50px;
    height: auto;
    position: fixed;
}

#menu ul{
    margin-top: 40px;
}

#menu li{
    list-style: none;
    padding: 10px;
    margin: 5px 0px 0px 30px;
    color: #fff;
    outline: none;
}

#menu  ul li:hover {
    color: #00E5FF;
    border-right: 5px solid #00E5FF;
}

#menu ul li i {
    width: 30px;
    text-align: center;
    margin-right: 35px;
}

#menu ul button {
    border:1px solid #00E5FF;
    background-color: #021A3D;
    padding: 10px;
    border-radius: 5px;
    color: #00E5FF;
    margin-left: 35%;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 700;
    outline: none;
}

#right{
    float: right;
    background-color: #E4E2E2;
    width: 80%;
    height: 100%;
    margin: 90px 0 0 0;
}

#right input{
    display: block;
    margin: 17px 15px 15px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #707070;
}

#right select{
    display: block;
    margin: 17px 15px 15px 0;
    border-radius: 5px;
    border: 1px solid #707070;
}

#right input[type="date"]{
    padding: 7px !important;
}


/* Function Dashboard */
.dashboard-head{
    margin-left: 25px;
    /*margin-top: 25px;*/
    color: #021A3D;
}

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.dashboard .banner{
    margin:30px 15px 10px 10px; 
    width: 335px;
    height: 120px;
    text-align: center;
    border-radius: 15px;
    display:flex; 
    flex-direction: column;
    align-items: flex-end;
    justify-content: center; 
    padding-right: 30px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.dashboard .banner-info{
    display: flex;
    padding:15px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.dashboard span{
    display: block;
    font-size: 42px;
}

.dashboard .banner:first-child{
    background-color: #6C7B95;
    margin-left: 25px;
}

.dashboard .banner:nth-child(2){
    background-color: #8BBABB;
}

.dashboard .banner:nth-child(3){
    background-color: #B2D9C5; 
    margin-right: 25px;
}

.newsBlock{
    background-color: #bd86b5;
    width: 450px;
    height: 300px;
    padding:15px;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

 .newsBlock::-webkit-scrollbar {
    width: 10px;
  }

 .newsBlock::-webkit-scrollbar-track {
    background: #c075b6;
    border-radius: 50px;
    
  }  

 .newsBlock::-webkit-scrollbar-thumb {
    background: #ddafd7;
    border-radius: 50px;
  }  

.newsBlock .news{
    border-bottom:1px solid #000;
    padding: 3px;
    width: 430px;
    color: rgb(29, 27, 27);
}

/* Function Manage & Add Student */
.addBtn{
    background-color: #021A3D;
    color: #fff !important;
    padding: 7px;
    border-radius: 10px;
}

.updateBtn
{
    background:#021A3D;
    border: none;
    padding: 5px 10px;
    height: 35px;
    border-radius: 5px;
    margin: 0px 3px;
    color: #fff;
    outline: none;
}

.updateBtn:hover{
    background: rgb(4, 47, 112);
}

.updateBtn:active{
    outline: none;
}

.deleteBtn
{
    background: rgb(202, 22, 22);
    border: none;
    padding: 5px 10px;
    height: 35px;
    border-radius: 5px;
    margin:0px 3px;
    color: #fff;
}

.deleteBtn:hover{
    background: rgb(233, 26, 26);
}

.addBtn:hover 
{
    background-color: rgb(7, 49, 112);
}

.addBtn .Link 
{
    color:#fff;
}

.student-head, .faculty-head, .department-head, .news-head, .course-head,.attendance-head{
    margin-left: 25px;
    color: #021A3D;
}

.student-head h2,.faculty-head h2, .department-head h2, .news-head h2, .course-head h2,.attendance-head h2{
    display: inline;
}

.table
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.table thead th{
    border: none;
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(214, 214, 214);
    padding: 5px;
    margin: 5px 0px;
}

.table tbody td {
    border: none;
    font-weight: 100;
    font-size: 16px;
    background-color: rgb(214, 214, 214);
    padding: 5px;
    margin:1px 0px;
}

.add_detail .tag{
    background-color: #021A3D;
    color: #fff;
    padding: 8px 8px;
    border-radius: 5px;  
}

.add_detail {
    padding-left: 30px;
    margin-right: 15px;
    margin-top: -30px;
    color: #021A3D;
}

.add_detail .form-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.add_detail .form-mid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.add_detail .form-address {
    display: grid;
    grid-template-columns: 1fr;
}

.add_detail .form-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.add_detail .form-acad {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.add_detail .form-acad span select {
    padding:9px 3px;
    margin: 0;
}

.add_detail button[type="submit"]{
    padding: 10px;
    width: 98.55%;
    margin-right: 25px;
}

.news-table
{
    margin-right: auto;
    margin-left: auto;
}

.news-table .news-no
{
    width: 100px;
}

.news-table .news-title
{
    width: 250px;
}

.news-table .news-desc{
    width: 400px;
}

.dept-table {
    float:left;
    width: 250px;
}

.news-head button{
    width: 97%;
    margin-top: 25px;
    padding:6px;
    outline: none;
}

.news-head input{
    width: 95%;
    outline: none;
}

.department-head input{
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    outline: none;
}

.department-head button{
    width: 221px;
    padding: 6px;
}
.course-head select{
    padding: 6px;
    width: 190px;
}

.course-head button{
    padding: 6px;
    width: 190px;
}








